/*body */
body, html {
    letter-spacing: 0.05rem;
}

/* footer */

.header-title {
  text-transform: uppercase !important;
  font-size: 1rem;
  font-weight: 500;
  color: #1F1F1F !important;
  margin-bottom: -7px;
  letter-spacing: 0.05rem;
}

.beema-section {
  padding-bottom: 5px;
  font-size: 0.9rem;
}

.beema-section > ul {
    margin-top: 0px;
}


footer div.beema-section  ul li  a {
    color: #454545;
    font-size: 0.85rem;
    margin-bottom: 0px;
    letter-spacing: 0.05rem

}

footer div.beema-section  ul li  a:hover {
    color:#325DB2;

}



.beema-section2 {
    background-color:#325DB2;

}

.beema-section2 ul > li {
    display: inline-block;
    color: #FFF;
    padding-right: 50px;
    font-size: 0.9rem;
    letter-spacing: 0.03rem;
}

.beema-section2 ul > li > a {
    cursor: pointer;
    color: #FFFFFF;
}

.beema-section2 ul > li > a:hover {
    color: #bbbbbb;
}