{% load i18n %} {% load static %}
<footer>
  <!-- footer first section -->
  <div class="beema-section" style="background-color:#F1F1F1;">
    <div class="container">
      <div class="row">
        <div class="col m3 s12">
          <h2 class="header-title">{% trans "about" %}</h2>
          <ul>
            <li>
              <a href="#">{% trans "About us" %}</a>
            </li>
            <li>
              <a href="#">{% trans "corporate giving" %}</a>
            </li>
            <li>
              <a href="#">{% trans "News room" %}</a>
            </li>
          </ul>
        </div>
        <div class="col m3 s12">
          <h2 class="header-title">{% trans "Resources" %}</h3>
            <ul>
              <li>
                <a href="#">{% trans "About us" %}</a>
              </li>
              <li>
                <a href="#">{% trans "corporate giving" %}</a>
              </li>
              <li>
                <a href="#">{% trans "News room" %}</a>
              </li>
            </ul>
        </div>
        <div class="col m3 s12">
          <h2 class="header-title">{% trans "Quick Service Links" %}</h2>
          <ul>
            <li>
              <a href="#">{% trans "Articles" %}</a>
            </li>

            <li>
              <a href="#">{% trans "Branches and Networks" %}</a>
            </li>

            <li>
              <a href="#">{% trans "Claim Information" %}</a>
            </li>
            <li>
              <a href="#">{% trans "Financial statements" %}</a>
            </li>

          </ul>
        </div>
        <div class="col m3 s12">
          <h2 class="header-title">{% trans "Contact Information" %}</h2>
          <address>
            <strong>Rastriya Beema Sasthan</strong>
            <br> RBS Building, Ramshahpath
            <br> P.O.box :23837, Kathmandu
            <br>
            <abbr title="Phone">Phone:</abbr> 0977-1-4258866
            <br>
            <abbr title="Fax">Fax:</abbr> 0977-1-4258721, 4261351
            <br>
            <abbr title="Email">Email:</abbr>
            <a href="mailto: info@beema.com.np"> info@beema.com.np</a>
            <br>
            <abbr title="Website">Web:</abbr> www.beema.com.np
            <br>
          </address>
        </div>
      </div>
    </div>
  </div>

  <div class="beema-section2">
    <div class="container">
      <div class="row">
        <div class="col s12 hide-on-small-only">
          <!-- secondary menu -->
          <ul class="center">
            <li>
              <a href="#">Site map</a>
            </li>
            <li>
              <a href="#">Careers</a>
            </li>
            <li>
              <a href="#">Contact Us</a>
            </li>
            <li>
              <a href="#">Terms of Use</a>
            </li>
            <li>
              <a href="#">Privacy Policies</a>
            </li>
            <li>
              <a href="#">Our Branches</a>
            </li>
          </ul>
        </div>
        <!-- social links -->
        <div class="col s12 center">
          <!-- secondary menu -->
          <ul>
            <li>
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-google"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>

        <!-- rbs logo center -->
        <div class="center">
          <a href="/">
            <img class="responsive-img" src="{% static 'img/rbs_logo.png' %}" alt="rbs logo">
          </a>
        </div>

        <!-- copy right -->
        <p class="center text-flow white-text">
          &copy;
          <span id="copyyear"></span>
        </p>
        <p class="center white-text">Designed and Developed By
          <a href="https://manojgautam.com.np" class="grey-text">Manoj Gautam</a>
        </p>
      </div>
    </div>
  </div>



  <script>
    var currentYear = new Date().getFullYear();
    document.getElementById("copyyear").innerHTML = currentYear;
  </script>
</footer>