{% extends "base.html" %} {% load static %} {% block body_class %}template-homepage{% endblock %} {% block content %}

<style>
</style>

<!-- notice bar -->
<section class="notice-section">
  <div class="container">
    <div class="row">

      <div class="col m3 news-heading" style="line-height:40px;">
        LATEST NEWS AND EVENTS
        <i class="fa fa-caret-right"></i>
      </div>
      <div class="col sm12 m6">

        <ul class="newsticker" style="margin-top:0px;">
          <li>
            <a href="#">Etiam imperdiet volutpat libero eu tristique.</a>
          </li>

          <li>
            <a href="#">Etiam imperdiet volutpat libero eu tristique.</a>
          </li>

          <li>
            <a href="#">Etiam imperdiet volutpat libero eu tristique.</a>
          </li>

          <li>
            <a href="#">Etiam imperdiet volutpat libero eu tristique.</a>
          </li>

        </ul>



      </div>

      <div class="col m3 left" style="font-size:1.4rem;">
        <span style="cursor:pointer;" id="prev-button">
          <i class="fa fa-caret-left"></i>
        </span>
        <span style="cursor:pointer;" id="next-button">
          <i class="fa fa-caret-right"></i>
        </span>
      </div>



    </div>
  </div>
</section>


<!-- CAROUSEL -->
<div class="carousel carousel-slider ">
<div style="background:  linear-gradient(45deg, rgba(236, 240, 241,.1), rgba(0, 0, 0,.6) 70%), url('{% static 'img/life_insurance_1.jpg' %}');background-size:cover;"
    class="carousel-item white-text beema-carouse-background " href="#one!">

      <div class="container">
        <div class="row">
            <div class="col m6 hide-on-small-only">
            </div>
            <div class="col m6 s12">
              <h1>JEEVAN BEEMA</h1>
              <p class="text-flow">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptatem molestias sapiente non voluptate, aperiam tempore neque eligendi suscipit expedita qui necessitatibus quos. Debitis dolorum nam qui quaerat, iure autem.</p>
              <button class="waves-effect waves-light btn">View Product</button>
            </div>
        </div>
      </div>

    </div>
</div>

<script src="{% static 'js/ticker.min.js' %}"></script>

<script>
  $(document).ready(function () {
    $(".carousel").carousel({
      fullWidth: false,
      indicators: true,
      noWrap: true,
      duration:300,
    }); // initilize the carouse class. 
    // Enable slides. 
    $('.slider').slider();
    // Enable news ticker
    $('.newsticker').newsTicker({
      row_height: 20,
      max_rows: 1,
      speed: 600,
      direction: 'up',
      duration: 4000,
      autostart: 1,
      pauseOnHover: 0,
      prevButton: $('#prev-button'),
      nextButton: $('#next-button'),
    });


  });


</script> {% endblock content %}